In [1]:
import pandas as pd

In [2]:
# working with json

In [3]:
pd.read_json("train.json")

          id      cuisine                                        ingredients
0      10259        greek  [romaine lettuce, black olives, grape tomatoes...
1      25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2      20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3      22213       indian                [water, vegetable oil, wheat, salt]
4      13162       indian  [black pepper, shallots, cornflour, cayenne pe...
...      ...          ...                                                ...
39769  29109        irish  [light brown sugar, granulated sugar, butter, ...
39770  11462      italian  [KRAFT Zesty Italian Dressing, purple onion, b...
39771   2238        irish  [eggs, citrus fruit, raisins, sourdough starte...
39772  41882      chinese  [boneless chicken skinless thigh, minced garli...
39773   2362      mexican  [green chile, jalapeno chilies, onions, ground...

[39774 rows x 3 columns]

In [11]:
import requests
resp = requests.get('https://api.exchangerate-api.com/v4/latest/INR', timeout=10,headers={'Content-Type': 'application/json'})
df= pd.read_json(resp.text)

print(df)

                             provider  \
AED  https://www.exchangerate-api.com
AFN  https://www.exchangerate-api.com
ALL  https://www.exchangerate-api.com
AMD  https://www.exchangerate-api.com
ANG  https://www.exchangerate-api.com
..                                ...
XPF  https://www.exchangerate-api.com
YER  https://www.exchangerate-api.com
ZAR  https://www.exchangerate-api.com
ZMW  https://www.exchangerate-api.com
ZWL  https://www.exchangerate-api.com

                          WARNING_UPGRADE_TO_V6  \
AED  https://www.exchangerate-api.com/docs/free
AFN  https://www.exchangerate-api.com/docs/free
ALL  https://www.exchangerate-api.com/docs/free
AMD  https://www.exchangerate-api.com/docs/free
ANG  https://www.exchangerate-api.com/docs/free
..                                          ...
XPF  https://www.exchangerate-api.com/docs/free
YER  https://www.exchangerate-api.com/docs/free
ZAR  https://www.exchangerate-api.com/docs/free
ZMW  https://www.exchangerate-api.com/docs/free
ZWL  https://www.exchangerate-api.com/docs/free

                                      terms base       date  \
AED  https://www.exchangerate-api.com/terms  INR 2023-10-10
AFN  https://www.exchangerate-api.com/terms  INR 2023-10-10
ALL  https://www.exchangerate-api.com/terms  INR 2023-10-10
AMD  https://www.exchangerate-api.com/terms  INR 2023-10-10
ANG  https://www.exchangerate-api.com/terms  INR 2023-10-10
..                                      ...  ...        ...
XPF  https://www.exchangerate-api.com/terms  INR 2023-10-10
YER  https://www.exchangerate-api.com/terms  INR 2023-10-10
ZAR  https://www.exchangerate-api.com/terms  INR 2023-10-10
ZMW  https://www.exchangerate-api.com/terms  INR 2023-10-10
ZWL  https://www.exchangerate-api.com/terms  INR 2023-10-10

     time_last_updated    rates
AED         1696896001   0.0441
AFN         1696896001   0.9100
ALL         1696896001   1.2000
AMD         1696896001   4.8400
ANG         1696896001   0.0215
..                 ...      ...
XPF         1696896001   1.3600
YER         1696896001   3.0100
ZAR         1696896001   0.2330
ZMW         1696896001   0.2580
ZWL         1696896001  67.1400

[162 rows x 7 columns]

In [12]:
# working with sql

In [30]:
import mysql.connector

In [31]:
conn=mysql.connector.connect(host="localhost",user="root",password="",database="world")

In [32]:
df = pd.read_sql_query("SELECT * FROM countrylanguage",conn)

C:\Users\HP\AppData\Local\Temp\ipykernel_3616\4272969784.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query("SELECT * FROM countrylanguage",conn)

In [33]:
df

    CountryCode    Language IsOfficial  Percentage
0           ABW       Dutch          T         5.3
1           ABW     English          F         9.5
2           ABW  Papiamento          F        76.7
3           ABW     Spanish          F         7.4
4           AFG     Balochi          F         0.9
..          ...         ...        ...         ...
979         ZMB      Tongan          F        11.0
980         ZWE     English          T         2.2
981         ZWE     Ndebele          F        16.2
982         ZWE      Nyanja          F         2.2
983         ZWE       Shona          F        72.1

[984 rows x 4 columns]